= simple_form_for(@upload_photo, :html => { :multipart => true }) do |f|
  - if @upload_photo.errors.any?
    #error_explanation
      %2h2= pluralize(@upload_photo.errors.count, "个错误")

      %ul
      - @upload_photo.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label :标题
    = f.text_field :title
  .field
    = f.label :照片描述
    = f.text_area :description, :rows =>6
  .field
    - if @upload_photo.photoURL.nil?
      = f.file_field("photoURL")
    - else
      - photoURL = @upload_photo.photoURL
      = image_tag("upload/"+photoURL, :width => "100")
  .field
    = f.label :选择相册
    - arrAlbums = allAlbum
    = f.select(:albumBelongTo, options_for_select(arrAlbums))
    %span= link_to "或者创建新相册", new_p_album_path
  .actions
    = f.submit @action_name, :class => 'btn btn-primary'