<p id="notice"><%= notice %></p>

<%= link_to '修改', edit_p_album_path(@p_album) %> |
<%= link_to '后退', p_albums_path %>

<table>
  <tr>
  <th>相册名称</th>
  <th>相册描述</th>
  <th>本相册中所有照片</th>
  </tr>

  <tr>
  <td><%= @p_album.album_name %></td>
  <td><%= @p_album.album_description %></td>
  <td class="images">
    <% @photos=UploadPhoto.where(["albumbelongto=?", @p_album.album_name])
    @photos.each do |photo|
    %>
    <%= link_to image_tag("upload/"+photo.photoURL, :width => "100"), photo %>
    <% end %>
  </td>
  </tr>
</table>
