<h2>重新激活</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "邮箱：" %><br />
  <%= f.email_field :email %></div>

  <div class="actions"><%= f.submit "重新发送激活邮件" %></div>
<% end %>

<%= render "links" %>