<%= form_for @user do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :email, "邮箱" %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password, "密码" %>
  <%= f.password_field :password %>
</p>
<!--<p>
  <%= f.check_box :admin %>
  <%= f.label :admin, "是否是管理员？" %>
</p>-->
<%= f.submit @action_name, :class => 'btn btn-primary' %>
<% end %>