<!DOCTYPE html>
<html>
<head>
  <title>FirstRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body onload="_init();">
<div id="log"></div>
<div id="content">
  <div class="nav" style="float:right"><p>
    <% if user_signed_in? %>
    当前用户<%= link_to current_user.email, current_user %>|<%= link_to "退出", destroy_user_session_path, :method => :delete %>
    <% else %>
    <%= link_to "注册", new_user_registration_path %>|<%= link_to "登录", new_user_session_path %>
    <% end %>
    </p>
  </div>
  <div style="height:80px;padding:0;margin:0;">
  <div class="myTabUI">
  <ul class="albumTabs">
    <li id="album"class="current">&nbsp;&nbsp;相册管理&nbsp;&nbsp;</li>
    <li id="photo">&nbsp;&nbsp;照片管理&nbsp;&nbsp;</li>
  </ul>
  </div>
  <div id="album" class="album show">
    <li><%= link_to "添加相册", new_p_album_path, :id => "ahover" %></li>
    <li><%= link_to "管理相册", p_albums_path %></li>
  </div>
  <div id="photo" class="photo hide">
    <li><%= link_to "上传照片", new_upload_photo_path %></li>
    <li><%= link_to '管理照片', upload_photos_path %></li>
    <li>查询照片</li>
</div>
  </div>
<%= yield %>
<% if user_signed_in? %>
<div><%= link_to "查看所有用户>>", users_path %></div>
<% end %>
</div>
<div id="foot">Copyright&copy;2010-2012&nbsp;版权所有</div>
</body>
</html>
